<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">首页</a></li>
    <li>
      <a ng-href="#" data-toggle="modal" data-target="#about">关于</a>
      <div class="modal fade" tabindex="-1" id="about">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">关于</h4>
            </div>
            <div class="modal-body">
              <strong>微型CRM</strong> 这是一个微型的客户管理工具，主要提供对用户、销售记录的管理。
              <hr/>
              本系统基于angular + mongolab开发，静态网站可以发布在github.io上，而mongolab提供免费的500M空间
              <hr/>
              本系统同时作为一个开源的angular范例项目，遵循BSD协议。
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </li>
    <li>
      <a ng-href="#" data-toggle="modal" data-target="#contact">联系我</a>
      <div class="modal fade" tabindex="-1" id="contact">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">联系我</h4>
            </div>
            <div class="modal-body">
              <strong>雪狼</strong>是程序员里写诗最好的，是诗人里写程序最好的。
              <hr />
              邮箱就不公布啦，如果你要找我，请到 http://www.cnblogs.com/asnowwolf/
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </li>
  </ul>
  <h3 class="text-muted">微型CRM</h3>
</div>
